#navigation-menu {
    padding-bottom: 20px;
}
#navigation-menu > li {
    display: inline-block;
    float: left;
    padding-left: 20px;
}

body {
    text-align: center;
}
form > div {
    background: gainsboro;
    border: solid 2px black;
    margin: 0 5% 5% 0;
    padding: 10px 10px;
    font-size: 8pt;
    text-align: left;
    display: inline-block;
}
form > div > div,
form > div > label {
    display: inline-block;
    width: 100%;
    margin-bottom: 5pt;
}
form > div > label > span,
form > div > div > span,
form > div > div > div {
    width: 20%;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    padding-right:10px;
}
form > div > label > span + div,
form > div > label > span + span,
form > div > div > span + div,
form > div > div > div + div {
    display: inline-block;
    text-align: left;
    width: 70%;
}
form input {
    font-size: 8pt;
    font-family: monospace;
    display: inline-block;
}
form textarea {
    height: 50pt;
    font-size: 8pt;
    display: inline-block;
}
input[type="email"],
input[type="text"] {
    background-color: #fffdb5;
    border-color: yellow;
}
input[type="password"] {
    border-color: deeppink;
    background-color: pink;
}
input[list] {
    background-color: lightblue;
    border-color: cornflowerblue;
}
textarea {
    border: solid 2px green;
    background-color: lightgreen;
}
input[type="submit"] {
    background-color: #84ff8c;
}
input[type="reset"] {
    background-color: #ff8392;
}