<form action="Users/Register" method="post">
    <div>
        <label>
            <span>Login:</span>
            <input type="text" name="login" value="admin" onclick="this.select()"/>
        </label>
        <br />
        <label>
            <span>Пароль:</span>
            <input type="password" name="password" />
        </label>
        <br />
        <label>
            <span>Пароль еще раз:</span>
            <input type="password" name="password" />
        </label>
        <br />
        <label>
            <span>Имя:</span>
            <input type="text" name="firstName" />
        </label>
        <br />
        <label>
            <span>Фамилия:</span>
            <input type="text" name="secondName" />
        </label>
        <br />
        <div>
            <span>Пол:</span>
            <div>
                <label><input type="radio" name="gender[]"/>мужской</label>
                <label><input type="radio" name="gender[]"/>женский</label>
            </div>
        </div>
        <br />
        <label>
            <span>Город:</span>
            <!--<input type="text" value="Житомир" name="town" list="town"/>-->
        </label>
        <br />
        <label>
            <span>О себе:</span>
            <span><textarea name="info"></textarea></span>
        </label>
        <br />
        <div>
            <div>Соглашения:</div>
            <div>
                <label><input type="checkbox" name="irs" />Получать рассылки сайту</label>
                <br />
                <label><input type="checkbox" name="agree" />Соглашаюсь с правилами сайта</label>
                <br />
                <label><input type="checkbox" name="hide" />Скрыть профиль на сайте</label>
            </div>
        </div>
        <br />
        <div>
            <span></span>
            <div>
                <input type="submit" value="Зарегистрироваться"/> <input type="reset" value="Сброс"/>
            </div>
        </div>
    </div>
    <datalist id="town">
        <option>Житомир</option>
        <option>Киев</option>
    </datalist>
</form>
